@using DietPreparation.Resources

@model DietPreparation.Web.Models.DietRequests.ReadDietRequestViewModel

<h4>@($"{ContentResources.Sample} {ContentResources.Section}")</h4>
<table class="table table-hover">
	<thead>
		<tr class="header">
			<th>@ContentResources.Amount</th>
			<th>@ContentResources.UnitOfMeasure</th>
			<th>@ContentResources.SampleDisposition</th>
			<th>@ContentResources.SampleAnalysisType</th>
			<th>@ContentResources.SampleComments</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Samples is not null)
		{
			foreach (var sample in Model.Samples)
			{
				<tr>
					<td class="col-3">
						@Html.DisplayFor(x => sample.Amount)
					</td>
					<td class="col-2">
						@Html.DisplayFor(x => sample.UnitOfMeasure)
					</td>
					<td class="col-2">
						@Html.DisplayFor(x => sample.Disposition)
					</td>
					<td class="col-2">
						@Html.DisplayFor(x => sample.AnalysisType)
					</td>
					<td class="col-3">
						@Html.DisplayFor(x => sample.Comment)
					</td>
				</tr>
			}
		}
	</tbody>
</table>