@using DietPreparation.Resources
@using DietPreparation.Common.Consts
@using DietPreparation.Web.Models.Users
@model UserViewModel

@{
	ViewBag.Title = $"{ContentResources.Edit} {ContentResources.User}";
}

<div class="container">
	@await Html.PartialAsync("_PageHeaderPartial", $"{ContentResources.Edit} {ContentResources.User}")
	@using (Html.BeginForm("Edit", "Users", FormMethod.Post))
	{
		<section class="row mt-4">
			@await Html.PartialAsync("_UserPartial", Model)
		</section>
		<section class="row button-panel">
			@await Html.PartialAsync("_UserButtonsPartial", ContentResources.Save)
		</section>
	}
</div>

@section Scripts {
	<script type="module">
		import errorMessages from '@Url.Content("~/scripts/common/error-messages.js")';
		import api from '@Url.Content("~/scripts/axios-wrapper.js")';
		import FormValidator from '@Url.Content("~/scripts/client-validator.js")';
		import DisplayAlert from '@Url.Content("~/scripts/display-alert.js")';
		import overlay from '@Url.Content("~/scripts/overlay/overlay-hider-wrapper.js")';
		import modal from '@Url.Content("~/scripts/Modal/modal-wrapper.js")';
		var displayAlert = new DisplayAlert('@DefaultNumbers.DefaultAlertsTimeoutInMs');

		$("form").on("submit", function (event) {
			event.preventDefault();

			if (!this.checkValidity()) {
				displayAlert.warning(errorMessages.form.invalidData);
				return false;
			}

			const formData = new FormData(this);
			const viewModel = {
				KeyId: parseInt(formData.get('KeyId')),
				UserId: formData.get('UserId'),
				FirstName: formData.get('FirstName'),
				MiddleName: formData.get('MiddleName'),
				LastName: formData.get('LastName'),
				Email: formData.get('Email'),
				AccessType: parseInt(formData.get('AccessType'))
			};

			overlay.show();
			api.post('@Url.Action("Edit", "Users")', viewModel, {
				headers: {
					"Content-Type": "application/json"
				}
			})
			.then((data) => {
				modal.setTextTitle('@ContentResources.Users');
				modal.setTextBody('@MessagesResources.UserUpdated');
				modal.setContinueButton('@ContentResources.Ok', '@Url.Action("Index", "Users")');
				modal.open();
				overlay.hide();
			})
			.catch((exception) => {
				displayAlert.exception(exception);
				overlay.hide();
			});
		});
			
		$(document).ready(function () {
			var validator = new FormValidator('.needs-validation');
			validator.setup();
		});
	</script>
}